$bgcolor:black;
$color:white;
$sectionheading:24px;
$buttonbgcolor:rgb(255, 198, 4);
$buttonbgcolorhover:rgb(108, 93, 42);
$bgcolorabout:rgb(17, 17, 17);
$font-size:(
    "large":73,
    "medium":48,
    "small":22,
);